* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #EEF3F9;
  --h4: #0044A7;
  --span: #26B1FF;
}

h4 {
  color: var(--h4);
}

span {
  color: var(--span);
}

.top {
  height: 40px;
  background-color: var(--h4);
}

.top-header a {
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.top .social-links {
  float: right;
}

@media (max-width: 856px) {
  .top-header a {
    padding-left: 20px;
  }
}

/* navbar styling */
.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
}

.logo {
  color: black;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  padding: 0 100px;
}

.navbar ul {
  float: right;
  margin-right: 50px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 0 20px;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width:952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }

  .navbar ul li a {
    font-size: 16px;
  }
}

@media (max-width:858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navbar ul li a {
    font-size: 20px;
  }

  a:hover,
  a:active {
    background: none;
    color: var(--span);
  }

  #check:checked~ul {
    left: 0;
  }
}

/* home styling */
.home {
  height: 700px;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.home h4 {
  padding: 5px;
  font-size: 20px;
}

.home h1 {
  padding: 10px 200px;
  font-size: 70px;
}

.home p {
  padding: 2rem 20rem;
}

.btn {
  margin: 5px;
  font-size: 17px;
  background-color: var(--h4);
  padding: 10px 25px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--span);
  cursor: pointer;
}

@media (max-width:952px) {
  .home {
    height: 600px;
    width: 100%;
  }

  .home h4 {
    font-size: 15px;
    padding: 3px;
  }

  .home h1 {
    font-size: 30px;
    padding: 10px 20px;
  }

  .home p {
    padding: 10px 20px;
  }
}

.container {
  padding: 5rem 10rem;
}

.container .box-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.container .box-container .box {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  border-radius: 5px;
  background: #fff;
  padding: 30px 20px;
}

.box h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 600;
}

.container .box-container .box img {
  height: 100px;
}

@media (max-width: 952px) {
  .container {
    padding: 40px;
  }

  .box-container {
    flex-wrap: wrap;
    text-align: center;
  }

  .box h3 {
    font-size: 20px;
  }
}

/* about us styling */
.aboutus {
  display: flex;
  padding: 40px 100px;
}

.about img {
  display: flex;
  padding: 10px 50px;
}

.about2 {
  padding: 20px;
}

.about2 h4 {
  font-size: 20px;
  padding-bottom: 15px;
}

.about2 h1 {
  font-size: 3rem;
  padding-bottom: 15px;
  padding-right: 5rem;
}

.about2 p {
  padding-right: 3rem;
  padding-bottom: 15px;
}

.about2 ul {
  list-style: circle;
  padding-left: 10px;
}

.about2 ul li {
  padding: 5px;
}

@media (max-width: 1210px) {
  .aboutus {
    flex-wrap: wrap;
    padding: 20px;
  }

  .about img {
    height: 50px;
    width: 100%;
    padding: 10px;
  }

  .about2 h1 {
    padding-right: 1rem;
  }

  .about2 p {
    padding-right: 1rem;
  }

}

.heading {
  height: 400px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  flex-direction: column;
}

.heading h1 {
  font-size: 40px;
  padding-bottom: 30px;
}

@media (max-width:952px) {
  .heading h1 {
    font-size: 20px;
    padding: 5px 15px;
  }
}

/* services styling  */
.services {
  display: flex;
  margin: 5rem 10rem 0 10rem;
}

.services h4 {
  font-size: 20px;
  padding: 10px;
}

.services h1 {
  font-size: 45px;
  padding: 10px;
  padding-right: 100px;
}

.services p {
  text-align: left;
  padding: 20px 60px;
  width: 50%;
}


.container {
  padding: 5rem 10rem;
}

.container .box-container2 {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 25px;
}

.container .box-container2 .box {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  border-radius: 5px;
  background: #fff;
  padding: 30px 20px;
}

.container .box-container2 .box:hover {
  background-color: var(--h4);
  color: white;
}

.box h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 600;
}

.container .box-container2 .box img {
  height: 100px;
}

@media (max-width: 952px) {
  .container {
    padding: 40px;
  }

  .box-container2 {
    flex-wrap: wrap;
    text-align: center;
  }

  .box h3 {
    font-size: 20px;
  }

  .services {
    flex-wrap: wrap;
    margin: 20px;
  }

  .services h4 {
    font-size: 20px;
    padding: 10px;
  }

  .services h1 {
    font-size: 25px;
    padding: 10px;
  }

  .services p {
    width: auto;
    padding: 5px;
  }

  hr {
    visibility: hidden;
  }
}

.viewbtn {
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* why choose us styling  */
.choose {
  height: 800px;
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
}

.choose img {
  margin: 6rem 10rem 5rem 0;
  border-radius: 50px;
  height: 600px;
}

.content {
  margin: 5rem 1rem 5rem 7rem;
}

.content h4 {
  font-size: 20px;
  padding: 10px;
}

.content h1 {
  font-size: 3rem;
  padding: 10px;
}

.content p {
  padding: 10px;
}

.us {
  display: flex;
  padding-top: 10px;
}

.content .us img {
  margin: 5px;
  height: 70px;
}

.row1 {
  display: flex;
  flex-direction: column;
}

.us h3 {
  padding: 10px 5px 0 5px;
}

.us p {
  padding: 5px 15px 10px 5px;
}

@media (max-width: 1311px) {
  .choose {
    height: 900px;
    flex-wrap: wrap;
  }

  .choose img {
    height: 300px;
    /* width: 100%; */
    margin: 10px;
    border-radius: 3px;
  }

  .content {
    margin: 1rem;
  }

  .choose .us img {
    margin: 5px;
    width: 20%;
  }

  .content h1 {
    font-size: 20px;
    padding: 5px;
  }

  .content h4 {
    font-size: 17px;
  }
}

/* our  experts styling */
.experts {
  padding: 5rem 10rem;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.experts h4 {
  font-size: 20px;
}

.experts h1 {
  font-size: 45px;
  padding-bottom: 3rem;
}

.team {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 35px;
}

.team .members img {
  height: 200px;
}

.members {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  border-radius: 5px;
  background: #fff;
  padding: 30px 60px;
}

@media (max-width: 1400px) {
  .experts {
    padding: 40px;
  }

  .team {
    flex-wrap: wrap;
    text-align: center;
  }

  .members h3 {
    font-size: 20px;
  }
}

/* footer styling */
.container2 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: var(--primary-color);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 20px;
}

.footer-col h1 {
  margin: 20px 0;
}

.footer-col p {
  margin: 15px 0;
  padding-right: 15px;
}

.footer-col h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.footer-col ul li a:hover {
  color: var(--h4);
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--h4);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}

.social-links a:hover {
  background-color: var(--span);
}

@media(max-width: 878px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
    /* margin-bottom:30px; */
  }
}

.copy {
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: var(--h4);
  color: white;
  text-align: center;
  font-weight: 400;
}
.copy span{
  color:white;
}